$primary-text-color: #333

//  Profile page
    ===============================================================
$welcome-user-color: #61f23d
$profile-bio-color: red

$search-results-title-color: #e8e9cc

$post-background: #d1d1d1
$post-time-color: #b8b1b1
$post-time-color-hovered: #a8a5a5
$delete-post-button-color: red


body
    color: $primary-text-color
