@import "_color"

$font-stack:    "Helvetica Neue", sans-serif

body
    font: 100% $font-stack

//  Registration page
    1. Log in page link
    ===============================================================
a#login-page-link
    font-size: 0.9em
    margin-bottom: 0.5%
    display: block

//  Login page
    1. Log in page header
    2. Registration page link
    ===============================================================
h2#log-in-header
    color: $log-in-header-color

a#register-page-link
    display: block
    font-size: 0.9em
    margin-bottom: 0.5%


//  Profile page
    1. Welcome user message
    2. Profile bio message that the user adds to their profile
    3. Posts header that signals the beginning of the 'posts' section
    ===============================================================
h4#welcome-user-message
    text-align: center

    span
        color: $welcome-user-color

#profile-bio
    margin: 2% auto
    padding: 0

    text-align: center

    color: $profile-bio-color

    font-size: 1.1em

    border: 1px solid red

    width: 80%


h2#posts-header
    text-align: center

//  Users page
    1. Users header
    ===============================================================
h2#users-header
    text-align: center
