$font-stack:    "Helvetica Neue", sans-serif

body
    font: 100% $font-stack

//  Profile page
    ===============================================================
h4#welcome-user-message
    text-align: center

    span
        color: rgb(97, 242, 61)

h2#posts-header
    text-align: center
