.container {
    width: 80%;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 5%;
}

p.post-usernames {
    font-size: 0.9em;
}

h2#timeline-header {
    text-align: center;
}

form.search-posts {
    margin-bottom: 3%;
}

form.search-posts input[type="text"] {
    width: 97.25%;
    padding: 1%;
}

/* Posts (START)
=============================================================== */

.posts-section .post:not(:first-child) {
    margin-top: 3%;
}

.posts-section .post {
    padding: 0 2%;

    word-wrap: break-word;

    border: 1px solid black;
    background: rgb(209, 209, 209);
}

.title-poster {
    margin-top: 4%;

    border: 1px solid black;
}

.post-usernames {
    display: inline-block;
    float: right;

    margin : 0;
    padding: 0;

    font-size: 0.7em;
    font-style: italic;
}

a.title-link {
    display: inline;
}

.post p.post-body {
    border: 1px solid black;
}

h6.post-time {
    display: block;

    margin: 1% 0;
    padding: 0;

    color: rgb(184, 178, 178);
}

h6.post-time:hover {
    cursor: none;

    color: rgb(168, 165, 165);
}

form.delete-post-form {
    margin-bottom: 1.5em;
}

.post .delete-button {
    float: right;

    margin: 0;
    margin-bottom: 1%;
    padding: 0;

    background: red;
}
