form.add-info-form
    margin: 0 auto
    width: 80%

    textarea
        width: 94%
        height: 10vh
        margin-left: 1.8%

    input
        margin: 2%
        &[type="text"]
            display: block

            width: 74%

        &[type="submit"]
            margin-left: 1.6%


form.edit-profile-form
    margin-bottom: 2px


    .edit-profile-button
        display: block

        margin: 0 auto
