form.search-title
    margin-bottom: 4%
    text-align: center

    input
        &[type="text"]
            display: block
            width: 60%
            margin: 0 auto
            padding: 0.8% 1.5%

        &[type="submit"]
            margin-top: 2%
