form#tveet-form
    padding: 2%
    text-align: center

    input
        display: block

        margin: 0 auto

    textarea
        width: 70%
        height: 50px

    #character-count
        width: 66%
        margin: 0 auto
        margin-top: -1.3%
        padding: 0

        text-align: right
