/*.container {
    width: 80%;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 2%;
}*/

/*#welcome-user-message {
    text-align: center;
}

#welcome-user-message span {
    color: rgb(97, 242, 61);
}*/

/*.profile-image {
    display: block;

    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 2%;

    border: 3px solid black;
    border-radius: 50%;
}*/

/*.edit-profile-form {
    margin-bottom: 2px;
}

.edit-profile-button {
    display: block;

    margin: 0 auto;
}*/

/*.profile-bio {
    display: block;

    width: 75%;
    margin: 0 auto;
}*/

/*p#profile-bio {
    margin-top: 1%;
    padding: 0;

    text-align: center;

    color: red;

    font-size: 1, 1em;
}*/


/* Title search form (START)
=============================================================== */

/*form.search-title {
    margin-bottom: 4%;

    text-align: center;
}

form.search-title input[type="text"] {
    display: block;

    width: 60%;
    margin: 0 auto;
    padding: 0.8% 1.5%;
}

form.search-title input[type="submit"] {
    margin-top: 2%;
}*/

/* Title search results (START)
 =============================================================== */

/*form.title-results {
    overflow: scroll;

    width: 100%;
    height: 27vh;
    margin: 0 auto;
    margin-bottom: 2%;

    border: 1px solid red;
}

div.single-title {
    border-bottom: 1px solid red;
    background: #e8e9cc;
}

div.single-title a.title-link {
    color: red;
    display: inline-block;

    width: 70%;
    margin-left: 2%;

    cursor: pointer;
    vertical-align: middle;
    word-wrap: break-word;
}

a:hover {
    text-decoration: underline;
}

div.single-title img.title-poster {
    vertical-align: middle;
}

h4.title-search-error {
    text-align: center;

    color: red;
}*/


/* Tveet form (START)
 =============================================================== */

/*#tveet-form {
    text-align: center;
}

#tveet-form input {
    display: block;

    margin: 0 auto;
}

#tveet-form textarea {
    width: 70%;
    height: 50px;
}

#character-count {
    width: 66%;
    margin: 0;
    margin: 0 auto;
    margin-top: -1.3%;
    padding: 0;

    text-align: right;
}*/


/* Posts (START)
=============================================================== */

/*#posts-header {
    text-align: center;
}*/

/*.posts-section .post:not(:first-child) {
    margin-top: 3%;
}

.posts-section .post {
    padding: 0 2%;

    word-wrap: break-word;

    border: 1px solid black;
    background: rgb(209, 209, 209);
}

.title-poster {
    margin-top: 4%;

    border: 1px solid black;
}

.post p.post-usernames {
    display: inline-block;
    float: right;

    margin: 0;
    padding: 0;

    font-size: 0.7em;
    font-style: italic;
}

a.title-link {
    display: inline;
}

.post p.post-body {
    border: 1px solid black;
}

h6.post-time {
    display: block;

    margin: 1% 0;
    padding: 0;

    color: rgb(184, 178, 178);
}

h6.post-time:hover {
    cursor: none;

    color: rgb(168, 165, 165);
}

form.delete-post-form {
    margin-bottom: 1.5em;
}

.post .delete-button {
    float: right;

    margin: 0;
    padding: 0;

    background: red;
}*/
