* {
    /*border: 1px solid black;*/
}

.container {
    width: 80%;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 5%;
}

a#login-page-link {
    color: black;
    font-size: 0.9em;
    margin-bottom: 0.5%;
    display: block;
}

.ajax-response-container {
    display: inline;
    padding: 0;
    margin: 0;
}

#empty-input-ajax-response {
    display: block;
    font-size: 0.9em;
}

input[type="submit"] {
    margin-top: 4%;
}
