nav.navbar
    background: $navigation-bar-color
    border-bottom: 1px solid $navigation-border-color
    max-width: 450px
    margin: 0 auto

ul#navigation
    margin: 2%
    list-style-type: none
    padding: 0
    text-align: center
    padding: 0.18em 0

    li
        display: inline
        // border: 1px solid red
        // padding: 0.5em 0 0.45em 0
        //
        // a
        //     margin-left: 0.5em
        //
        //     &:last-child
        //         margin-right: 0.3em
