nav.navbar
    background: #cdd2d2
    border-bottom: 2px solid #686b6b
    max-width: 450px
    margin: 0 auto

ul#navigation
    margin: 2%
    list-style-type: none
    padding: 0
    text-align: center

    li
        display: inline
