.posts-section
    .post
        padding: 0 2%
        word-wrap: break-word
        border: 1px solid black
        background: $post-background
        &:not(:first-child)
            margin-top: 3%

        .title-poster
            display: inline-block
            vertical-align: top
            margin-top: 4%
            border: 1px solid black

        p.post-usernames
            display: inline-block
            float: right
            margin: 0
            padding: 0
            font-size: 0.7em
            font-style: italic

        p.post-body
            vertical-align: top
            display: inline-block
            width: 70%
            margin: 3.4% 0 0 2%

            a.title-link
                display: block
                margin-bottom: 2%

        h6.post-time
            display: block
            margin: 1% 0
            padding: 0
            color: $post-time-color
            &:hover
                cursor: none
                color: $post-time-color-hovered

        form.delete-post-form
            margin-bottom: 1.8em

            .delete-button
                float: right
                background: $delete-post-button-color
