.title-results
    overflow: scroll

    height: 27vh
    margin: 0 auto
    margin-bottom: 2%

    width: 90%

    border: 1px solid $search-results-border-color

    .single-title
        border-bottom: 1px solid darken($search-results-border-color, 10%)
        background: white

        a.title-link
            display: inline-block

            width: 70%
            margin-left: 2%

            cursor: pointer
            vertical-align: middle
            word-wrap: break-word
            &:hover
                text-decoration: underline

        img.title-poster
            vertical-align: middle

            &.on-profile-page
                margin-left: -3%
                margin-right: 5%

            &:not(.on-profile-page)
                margin-left: 5%

h4.title-search-error
    text-align: center
    color: red
