.title-details
    h1
        font-size: 1.6em

    img
        display: inline-block

    div.ratings
        width: 40%
        margin: 0 auto
        margin-top: 4%

        .metacritic-rating
            margin-top: 10%

        .imdb-rating
            h5
                margin-top: -5%

    p.title-plot
        clear: both
        margin: 0 auto
        padding-top: 5%
        width: 80%
        font-weight: bold
        font-size: 1.2em
